<!--<countdown-component #CountDownComponent1></countdown-component>-->
<!--<countdown-component #CountDownComponent2></countdown-component>-->
<countdown-component></countdown-component>
<ion-row>
    <ion-col text-center>
        <ion-button ion-fab (click)=btnTimerStart()  ion-button *ngIf="!started || paused"><ion-icon name="play"></ion-icon></ion-button>
        <ion-button ion-fab (click)=btnTimerPause() ion-button *ngIf="started && !paused" ><ion-icon name="pause"></ion-icon></ion-button>
        <ion-button ion-fab (click)=btnTimerStop() ion-button *ngIf="started && paused " ><ion-icon name="square"></ion-icon></ion-button>
    </ion-col>
</ion-row>

