<!--<ion-virtual-scroll [items]="mp3List">-->
    <!--<ion-item *virtualItem="let item">-->
        <!--<ion-label>-->
            <!--<h2>{{item.name}}</h2>-->
            <!--<i>{{item.path}}</i>-->
        <!--</ion-label>-->
    <!--</ion-item>-->
<!--</ion-virtual-scroll>-->
<ion-list>
    <ion-item *ngFor="let item of mp3List">
        <ion-label>
            <h2 *ngIf="item.title">{{item.title}}</h2>
            <h2 *ngIf="!item.title">{{item.name}}</h2>
            <i *ngIf="item.title"><small>{{item.artist}} | {{item.album}}</small></i>
        </ion-label>
        <ion-button fill="clear" size="large" (click)="btnAdd(item)"><ion-icon name="add-circle"></ion-icon></ion-button>
        <ion-button (click)="btnTag(item)">tag</ion-button>
    </ion-item>
</ion-list>

