// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #2D3A3A;
  --ion-color-medium-rgb: 45,58,58;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #283333;
  --ion-color-medium-tint: #424e4e;

  --ion-color-light: #eceef2;
  --ion-color-light-rgb: 236,238,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d0d1d5;
  --ion-color-light-tint: #eef0f3;

  --ion-color-primary: #248232;
  --ion-color-primary-rgb: 36,130,50;
  --ion-color-primary-contrast: var(--ion-color-light);
  --ion-color-primary-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-primary-shade: #20722c;
  --ion-color-primary-tint: #3a8f47;

  --ion-color-secondary: #2BA84A;
  --ion-color-secondary-rgb: 43,168,74;
  --ion-color-secondary-contrast: var(--ion-color-light);
  --ion-color-secondary-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-secondary-shade: #269441;
  --ion-color-secondary-tint: #40b15c;

  --ion-color-tertiary: #2D3A3A;
  --ion-color-tertiary-rgb: 45,58,58;
  --ion-color-tertiary-contrast: var(--ion-color-light);
  --ion-color-tertiary-contrast-rgb: var(--ion-color-light);
  --ion-color-tertiary-shade: #283333;
  --ion-color-tertiary-tint: #424e4e;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: var(--ion-color-light);
  --ion-color-success-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: var(--ion-color-light);
  --ion-color-warning-contrast-rgb: var(--ion-color-light);
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: var(--ion-color-light);
  --ion-color-danger-contrast-rgb: var(--ion-color-light);
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /********************/

  --ion-margin: 0;
  //--ion-padding: 0;

  /********************/

  --ion-background-color:       var(--ion-color-medium);
  --ion-background-color-rgb:   var(--ion-color-medium-rgb);

  --ion-text-color:             var(--ion-color-light);
  --ion-text-color-rgb:         var(--ion-color-light-rgb);

  --ion-backdrop-color	            : var(--ion-color-light); //Color of the Backdrop component
  --ion-overlay-background-color	: var(--ion-background-color); //Background color of the overlays
  --ion-border-color	            : var(--ion-color-medium); //Border color
  --ion-box-shadow-color	        : var(--ion-color-light); //Box shadow color
  //--ion-tab-bar-background	        : var();  var()/Background of the Tab bar
  //--ion-tab-bar-background-focused	: var(); //Background of the focused Tab bar
  //--ion-tab-bar-border-color	    : var(); //Border color of the Tab bar
  //--ion-tab-bar-color	            : var(); //Color of the Tab bar
  //--ion-tab-bar-color-activated	    : var(); //Color of the activated Tab
  --ion-toolbar-background-color    : var(--ion-color-dark); //Background of the Toolbar
  --ion-toolbar-border-color	    : var(--ion-color-light); //Border color of the Toolbar
  //--ion-toolbar-color	            : var(); //Color of the components in the Toolbar
  //--ion-toolbar-color-activated	    : var(); //Color of the activated components in the Toolbar
  //--ion-toolbar-color-unchecked	    : var(); //Color of the unchecked components in the Toolbar
  //--ion-toolbar-color-checked	    : var(); //Color of the checked components in the Toolbar
  //--ion-item-background	            : var(); //Background of the Item
  //--ion-item-background-activated	: var(); //Background of the activated Item
  //--ion-item-border-color	        : var(); //Border color of the Item
  //--ion-item-color	                : var(); //Color of the components in the Item
  //--ion-placeholder-color	        : var(); //Color of the placeholder in inputs
}
