<div class="bloc" [ngStyle]="{'border-color': getColor()}">
    <div class="labelheader" [ngStyle]="{'background-color': getColor()}">
        Repeat : {{bloc.repeat}}
        <ion-button (click)="addGroup()" size="small">G</ion-button>
        <ion-button (click)="addFraction()" size="small">F</ion-button>
    </div>
    <ion-reorder-group (ionItemReorder)="reorder($event)" [disabled]="false">
        <div class="item" [ngStyle]="{'border-color': getColor()}" *ngFor="let item of bloc.items">
            <ion-reorder slot="start"></ion-reorder>
            <div>
                <fraction-component *ngIf="item.type === 'Fraction'" [fraction]="item"></fraction-component>
                <bloc-component *ngIf="item.type === 'Bloc'" [bloc]="item"></bloc-component>
            </div>
            <!--&lt;!&ndash;<ion-button fill="clear" size="large" color="danger" (click)="delMp3(deleted)"><ion-icon name="remove-circle" slot="end"></ion-icon></ion-button>&ndash;&gt;-->

        </div>
    </ion-reorder-group>
</div>


<!--<ion-card [ngStyle]="{'border-color': getColor()}">-->
    <!--<ion-label class="labelheader" [ngStyle]="{'background-color': getColor()}">Repeat : {{bloc.repeat}}</ion-label>-->
    <!--<ion-button (click)="addGroup()" slot="end" size="small">G</ion-button>-->
    <!--<ion-button (click)="addFraction()" slot="end" size="small">F</ion-button>-->
    <!--<ion-list>-->
        <!--<ion-reorder-group (ionItemReorder)="reorder($event)" [disabled]="false">-->
            <!--<div class="item" [ngStyle]="{'border-color': getColor()}" *ngFor="let item of bloc.items">-->
                <!--&lt;!&ndash;<ion-reorder slot="start"></ion-reorder>&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--<fraction-component *ngIf="item.type === 'Fraction'" [fraction]="item"></fraction-component>-->
                <!--<bloc-component *ngIf="item.type === 'Bloc'" [bloc]="item"></bloc-component>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<ion-button fill="clear" size="large" color="danger" (click)="delMp3(deleted)"><ion-icon name="remove-circle" slot="end"></ion-icon></ion-button>&ndash;&gt;&ndash;&gt;-->

            <!--</div>-->
        <!--</ion-reorder-group>-->
    <!--</ion-list>-->
<!--</ion-card>-->
