<ion-card [ngStyle]="{'border-color': getColor()}">
    <ion-label class="labelheader" [ngStyle]="{'background-color': getColor()}">Repeat : {{bloc.repeat}}</ion-label>
    <ion-list>
        <!--<ion-reorder-group (ionItemReorder)="reorder($event)" [disabled]="false">-->
            <div class="item" [ngStyle]="{'border-color': getColor()}" *ngFor="let item of bloc.items">
                <!--<ion-reorder slot="start"></ion-reorder>-->
                <fraction-component *ngIf="item.type === 'Fraction'" [fraction]="item"></fraction-component>
                <bloc-component *ngIf="item.type === 'Bloc'" [bloc]="item"></bloc-component>
                <!--<ion-button fill="clear" size="large" color="danger" (click)="delMp3(deleted)"><ion-icon name="remove-circle" slot="end"></ion-icon></ion-button>-->
            </div>
        <!--</ion-reorder-group>-->
    </ion-list>
</ion-card>
