<ion-label text-wrap>{{fraction.libelle}}</ion-label>
<ion-label text-wrap>{{fraction.timeInSecond}}</ion-label>


<!--<ion-grid>-->
    <!--<ion-row>-->
        <!--<ion-col>-->
            <!--<div text-start>-->
                <!--{{fraction.libelle}}-->
            <!--</div>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
            <!--<div text-end>-->
                <!--{{fraction.timeInSecond}}-->
            <!--</div>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
<!--</ion-grid>-->

<!--<ion-grid>-->
    <!--<ion-row>-->
        <!--<ion-col float-left>-->
            <!--<div width="100%">-->
                <!--{{fraction.libelle}}-->
            <!--</div>-->
        <!--</ion-col>-->
        <!--<ion-col float-right>-->
            <!--<div>-->
                <!--{{fraction.timeInSecond}}-->
            <!--</div>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
<!--</ion-grid>-->
    <!--<ion-label text-wrap width="100%"></ion-label>-->
    <!--<ion-label text-wrap float-right></ion-label>-->
